[Unit]
Description=HealthyRizz Flask Application
After=network.target

[Service]
Type=simple
User=healthyrizz
Group=healthyrizz
WorkingDirectory=/home/healthyrizz/htdocs/healthyrizz.in
Environment=PATH=/home/healthyrizz/htdocs/healthyrizz.in/venv/bin
ExecStart=/home/healthyrizz/htdocs/healthyrizz.in/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 app:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 