[Unit]
Description=FitSmart Gunicorn Service
After=network.target postgresql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/fitsmart
Environment="PATH=/var/www/fitsmart/venv/bin"
Environment="FLASK_APP=run.py"
Environment="FLASK_ENV=production"
ExecStart=/var/www/fitsmart/venv/bin/gunicorn --workers 3 --bind unix:fitsmart.sock -m 007 run:app
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fitsmart

[Install]
WantedBy=multi-user.target 